
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=PT+Sans&display=swap');
/*
body{
  font-family: 'Inter', sans-serif;
  font-family: 'PT Sans', sans-serif;
}
*/
/*common*/
.button{
  padding: 2.5%;
  margin: 2.5%;
  border-radius: 10px;
  line-height:15.6px;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0px;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  font-family: 'PT Sans', sans-serif;
}
.paragraph{
  font-family: 'PT Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  vertical-align:baseline;
  font-size: 20px;
  color: gray;
}
.subheading{
  font-family: 'PT Sans', sans-serif;
  font-weight:500;
  font-style:normal;
  font-variant:normal;
  font-size: 30px;
}
.subparagraph{
  font-family: 'PT Sans', sans-serif;
  font-weight:300;
  font-style:normal;
  font-variant:normal;
  font-size: 16px;
  color: gray;
}

body{
  background-color: #FEF4EE !important;
}
.section1{
  margin-bottom: 7%;
}
.heading{
  font-family: 'Inter', sans-serif;
  line-height:15.6px;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0px;
  font-weight:700;
  font-style:normal;
  font-variant:normal;
  font-size: 46px;
}
/*navbar*/
a{
  text-decoration: none;
  color: black;
}
.nav-link{
  text-decoration: none;
  color: black !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #FEF4EE;
}
/*homepage*/
.homepageheading{
  font-family: 'Inter', sans-serif;
  line-height:45.6px;
  line-break: auto;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:10px;
  font-weight:800;
  font-size: 60px;
  font-variant:normal;
}

.buttonhomepage{
  background-color: #F96438 !important;
  color: white;
}
.home-background{
  background-color: #4C436B;
  max-height: fit-content;
  min-height:550px;

}
.imagehomepage{
  background-image:url('images/team.jpg');
  border-radius: 150px  !important;
  background-position:center center;
  background-size:250px 300px;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}

.paragraphhomepage{
  font-family: 'PT Sans', sans-serif;
  line-break: auto;
  letter-spacing:normal;
  word-spacing:0px;
  font-weight:100;
  color: white;
  vertical-align:baseline;
  font-size: large;
  font-style:normal;
}
.imagehomepage2{
align-items: center !important;
}
.imagehomepage3{
position: absolute;
  left: 30%;
  top: 260px;
}
.roundtext{
  width:100; 
  height:100;
  color: white;
}
svg {
  fill: currentColor;
  height: auto;
  max-width: 66vmin;
  transform-origin: center;
  width: 66%;
  color:white;
}
.round-text{
  font-size:17.35px;
  color: white !important;
}
/*why us*/
.whyus{
  background-color: #4C436B;
}
.cardwhyus{
  position: relative;
  bottom: 18%; 
}
.imagewhyus{
  height: 200px;
  width: 90%;
}
.whyusheading{
  color:#4C436B;
}
/*info*/

.buttoninfo{
  border-radius: 9px;
  padding: 2.5%;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0px;
  font-weight:400;
  font-style:normal;
  background-color: #4C436B;
  color: white;
  font-variant:normal;
  font-family: 'PT Sans', sans-serif;
}
.icon-info{
  background-color: #4C436B;
  padding: 5%;
  color: white !important;
}
.backgroundcircle::before{
  content: '';
  display: inline-block;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  background-color: #FFE7D9 !important;
  /*
  box-shadow: 0 0 0 100vmax orange;
  clip-path: inset(0 -100vmax) !important;
  -webkit-clip-path: inset(0 -100vmax) !important;
  clip-path: circle(350px at right);
*/
}
.backgroundcircle{
 
  background-color: #FFE7D9 !important;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  
}
.card-text{
  font-family: 'PT Sans', sans-serif;
  line-break: auto;
  letter-spacing:normal;
  word-spacing:0px;
  font-weight:300;
  color: gray;
  font-size: 16px;
}
.t3{
 position: relative;
 margin-top: 4%;
 margin-left: -22px;
}
.t2{
  position: relative;
  margin-bottom: 9%;
  margin-left: 0px;
}

.t1{
  position: relative;
    margin-top: 58px;
}

.info{
  margin-top: 5%;
}

.t5{
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  border-radius: 5.5%;
  border: 1px solid transparent;
}
.t6{
  padding: 1.5%;
}

/*offer*/
.services-2 .icon {
  line-height: 1;
  position: relative;
  width: 80px;
  height: 70px;
}

.services-2 {
  margin-bottom: 30px;
}
.pl-3, .px-3 {
  padding-left: 1rem!important;
}
.offericon{
    background: #fd5f00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.offericons{
  align-items: center;
  font-size: 30px;
  color: white;
  background-color: #f75023;
  border-radius: 50%;
}
/*courses*/
.text-courses{
  text-align: center !important;
 }
 .text-courses h2{
  font-size: 3rem !important;
 }
 .nav-pills-bg-soft {
  background-color: #4C436B;
  padding: 0.625rem 0;
  border-radius: 0.625rem;
}
.card-para{
  font-style:normal;
  font-variant:normal;
  font-family: 'PT Sans', sans-serif;
  color: gray;
}
.courses-card{
  margin-bottom: 1rem;
}
.button-list{
  color: white !important;
}
.button-list:focus{
  color: black !important;
}
.card-text-link{
  font-family: 'PT Sans', sans-serif;
  line-break: auto;
  letter-spacing:normal;
  word-spacing:0px;
  font-weight:300;
  color: #4C436B;
  font-size: 14px;
  text-decoration: underline;
}

/*testimonial*/
.tm-people{
  margin-top: 3%;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none;
  align-items: center !important;
  grid-gap: 50px;
  display: block;
}

/*contact us*/

.image-contactus{
  height: auto;
  width: 100%;
}

/*footer*/

.btn-purple{
  background-color: purple !important;
}
.btn-white{
  color: white;
  font-size: small;
}
.footer-para{
  color: rgb(150, 144, 144);
  margin-bottom: 10px;
}
.course-gap{
  grid-row-gap: 0.25rem;
}
/*svg*/
.homepagesvg1{
  position: absolute;
  left: 20%;
  transform: rotate(45deg);
  height: 80px !important;
}
.homepagesvg2{
  position: relative;
  left: 54%;
  top: 93%;
  transform: rotate(-35deg);
}
.homepagesvg3{
  position: relative;
  transform: rotate(235deg);
  right: 36px;
  top: 14px;
}
.homepagesvg4{
  position: relative;
  left: 30%;
  top: 15%;
  transform: rotate(35deg);
}
.homepagesvg5{
  position: absolute;
  left: 30%;
  transform: rotate(45deg);
  height: 80px !important;
}

/*gallery*/
.galleryimages{
  grid-gap: 25px 25px;
}

.card-img-top{
  aspect-ratio: 1 / .8;
}

.testimonial-card{
  padding: 10px;
}

.website-logo{
  background-color: #4C436B;
}


.hr-border{
  border: 1px solid #D3D3D3;
}










.btn:focus{
  outline: none!important;
  box-shadow: none!important;
}
.btn-primary{
  background-color: #fff!important;
  border: none;
}
.btn-primary:hover{
  background-color: #f7941d!important;
  color: #fff!important;
}

.product-item{
  border: 1px solid #ebebeb;
  border-radius: 4px;
  position: relative;
}
.product-img:hover::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
















.control {

  position: relative;
  display: inline-block;
/*  width: 2.7rem;
  height: 2.7rem;
  background: #444;
  cursor: pointer;
  font-size: 0.1px;
  color: white;
  transition: background 150ms;
*/
}

.control:hover {
  background: #3f3f3f;
}

.control[data-filter]:after {
  content: '';
  /*
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  border: 2px solid currentColor;
  border-radius: 2px;
  background: currentColor;
  transition: background-color 150ms, border-color 150ms;
*/
}

.control[data-sort]:after {
  content: '';
 /*
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  transform:  translateY(1px) rotate(45deg);*/
}


/*
.mixitup-control-active {
  background: #393939;
}

.mixitup-control-active[data-filter]:after {
  background: transparent;
}
*/
/*
.control:first-of-type {
  border-radius: 3px 0 0 3px;
}

.control:last-of-type {
  border-radius: 0 3px 3px 0;
}

.control[data-filter] + .control[data-sort] {
  margin-left: .75rem;
}
*/



/* Container
---------------------------------------------------------------------- */



/* Target Elements
---------------------------------------------------------------------- */

.mix{
  display: inline-block;
  vertical-align: top;
}






















@media (max-width:991px){
  .imagehomepage3{
      display:none;
  }
  .homepagesvg1{
    display:none;
  }
  .t1{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .t2{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .t3{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .t4{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
}
@media (max-width:770px){
  .roundtext{
      display:none;
  }
}

