.about-us-paragraph{
    font-family: nexa-regular;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    vertical-align:baseline;
    font-size: 17.2px;
    color: #363636;
    text-align: justify;
}