.career-path  .icon {
  line-height: 1;
  position: relative;
  width: 60px;
  height: 60px;
}
.career-path  {
  margin-bottom: 30px;
}
.pl-3, .px-3 {
  padding-left: 1rem!important;
}
.carrer-icons{
  align-items: center;
  font-size: 24px;
  color: white;
  background-color: #f75023;
  border-radius: 50%;
}
.carrericon{
  background: #f75023;
  height: 80px;
  width: 100px;
}