@font-face {
  font-family: nexa-bold;
  src: url(../Font/Nexa\ Bold.otf);
}

@font-face {
  font-family: nexa-regular;
  src: url(../Font/Nexa-Light.otf);
}
@font-face {
  font-family: nexa;
  src: url(../Font/Nexa\ Regular.otf);
}
@font-face {
  font-family: nexa;
  src: url(../Font/Nexa-Light.otf);
}

@font-face {
  font-family: LondrinaShadow;
  src: url(../Font/LondrinaShadow-Regular.ttf);
}

body{
  font-family: nexa-regular;
}
.button {
  padding: 2.5%;
  margin: 2.5%;
  border-radius: 10px;
  line-height: 15.6px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-family: nexa-regular;
}

.paragraph {
  font-family: nexa-regular;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  vertical-align: baseline;
  font-size: 20px;
  color: #363636;
}

.subheading {
  font-family: nexa-regular;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  font-size: 27px;
  text-align: justify;
}
.subparagraph {
  font-family: nexa-regular;
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  color: gray;
  text-align: justify;
}

 body {
  background-color: #FEF4EE !important;
} 

.section1 {
  margin-bottom: 7%;
  /* margin-top: 7%; */
}

.hr-border {
  border: 1px solid #D3D3D3;
}

.section-background-color {
  background-color: #4C436B;
}

.nav-bold{
  font-weight: 500 !important;
}
.text-purple{
  color: #4C436B;
}