.btn-purple{
  background-color: purple !important;
}
.btn-white{
  color: white;
  font-size: small;
}
.footer-para{
  color: rgb(150, 144, 144);
  margin-bottom: 10px;
}
.course-gap{
  grid-row-gap: 0.25rem;
}
.website-logo{
  background-color: #4C436B;
  color: white;
}
