a {
  text-decoration: none;
  color: black;
}
a:hover{
  color: white;
}
.nav-link {
  text-decoration: none;
  color: white !important;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #fd5f00;
}

.button-homepage {
  background-color: #4C436B !important;
  color: white;
}
.home-background {
  background-color: #4C436B;
  max-height: fit-content;
  min-height: 465px;
}
.image-homepage {
  background-image: url('../images/team.jpg');
  border-radius: 150px !important;
  background-position: center center;
  background-size: 250px 270px;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}
.paragraphhomepage {
  font-family: nexa-regular;
  line-break: auto;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 100;
  color: white;
  vertical-align: baseline;
  font-size: 16px;
  font-style: normal;
  justify-content: center;
  text-align: start;
  text-align: justify !important;
}
.image-homepage2 {
  align-items: center !important;
}
.image-homepage3 {
  position: absolute !important;
  left: 30%;
  top: 260px;
}
.roundtext {
  width: 100;
  height: 100;
  color: white;
}
.svgText {
  fill: currentColor;
  height: auto;
  max-width: 66vmin;
  transform-origin: center;
  width: 60%;
  color: white;
}
.round-text {
  font-size: 20.8px;
  color: white !important;
  font-weight: 200;
}
.heading{
  font-family: nexa-regular;
  word-spacing:0px;
  font-weight:700;
  font-style:normal;
  font-variant:normal;
  font-size: 46px;
}
.home{
  margin-top: 0% !important;
}

.homepage-image-1{
  background: url('../images/homepage/homepage1.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  filter: blur(1.3px);
}
.homepage-image-2{
  background: url('../images/homepage/homepage4.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  filter: blur(1.3px);
}
.homepage-image-3{
  background: url('../images/homepage/homepage3.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  filter: blur(1.3px);
}
.card-move {
  position: absolute;
  left: 12%;
  top: 8rem;
}
.card-box{
  padding: 2.5%;
  background-color: white;
  width: 29rem;
  border-radius: 23px;
}
.home-paragraph{
  font-size: 16px;
  font-family: nexa-regular;
}
.home-heading{
  font-size: 35px;
  color: black !important;
  font-family: nexa-regular;
  z-index: 5;
}
.home{
  margin-top: 3.7%;
}
.navbar{
  font-family: nexa-regular;
  background-color: #4C436B !important;
  font-weight: 700;
}

@media (max-width:550px){
  .home-paragraph{
    display: none;
  }
  .card-box{
    width: fit-content;
  }
  .card-move{
    position: absolute;
    left: 2%;
    right: 2%
  }
}