.buttoninfo{
  border-radius: 9px;
  padding: 2.5%;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0px;
  font-weight:400;
  font-style:normal;
  background-color: #4C436B;
  color: white;
  font-variant:normal;
  font-family: nexa-regular;
}
.icon-info{
  background-color: #4C436B;
  padding: 3.1%;
  color: white;
  font-size: 48px;
}
.backgroundcircle::before{
  content: '';
  display: inline-block;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  background-color: #FFE7D9 !important;
}
.backgroundcircle{
 
  background-color: #FFE7D9 !important;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  
}
.card-text{
  font-family: nexa-regular;
  line-break: auto;
  letter-spacing:normal;
  word-spacing:0px;
  font-weight:300;
  color: #363636;
  font-size: 16px;
}
.card3{
 position: relative;
 margin-top: 4%;
 margin-left: -22px;
}
.card2{
  position: relative;
  margin-bottom: 9%;
  margin-left: 0px;
}

.card1{
  position: relative;
    margin-top: 58px;
}

.card5{
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  border-radius: 5.5%;
  border: 1px solid transparent;
}