.bullet-point-1{
  float: left;
  width: 50%;
}
.bullet-point-2{
  float: right;
  width: 50%;
}
.subheading-infrastructure{
  font-family: nexa-regular;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  font-size: 17px;
  text-align: start;
}