
@media (max-width:991px){
  .image-homepage3{
      display:none;
  }
  .homepage-svg1{
    display:none;
  }
  .homepage-svg2{
    display:none;
  }
  .card1{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .card2{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .card3{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .t4{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
}
@media (max-width:770px){
  .roundtext{
      display:none;
  }
  .homepagesvg3 , .homepagesvg5{
    display:none;

  }
}
@media (max-width:480px) {
  .buttonhidden{
    display: none;
  }
  .homepageheading{
    font-size: 48px;
  }
}