
@media (max-width:991px){
  .image-homepage3{
      display:none;
  }
  .homepage-svg1{
    display:none;
  }
  .homepage-svg2{
    display:none;
  }
  .homepage-svg3{
    display: none;
  }
  .card1{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .card2{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .card3{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .t4{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
}
@media (max-width:770px){
  .roundtext{
      display:none;
  }
  .homepagesvg3 , .homepagesvg5{
    display:none;

  }
}
@media (max-width:480px) {
  .buttonhidden{
    display: none;
  }
  .homepageheading{
    font-size: 48px;
  }
  .homepageheading1{
    font-size: 50px;
  }
  .heading{
    font-size: 32px;
  }
  .home-background{
    min-height: 300px;
  }
  .card-whyus{
    position: relative;
    bottom: 0%; 
    margin-top: 1.5rem;
  }
}

@media (max-width:580px) {

.bullet-point-1{
  float: none;
  width: 100%;
}
.bullet-point-2{
  float: none;
  width: 100%;
}
}

@media (min-width: 1200px){
  .circle.col-xl-5 {
      flex: 0 0 auto;
      width: 36.666667%;
  }
}