
@media (max-width:1150px){
  .image-homepage3{
      display:none;
  }
  .homepage-svg1{
    display:none;
  }
  .card1{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .card2{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .card3{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .t4{
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
}
@media (max-width:770px){
  .roundtext{
      display:none;
  }
}

@media (max-width:767px) {
  .footer-paragraph{
    text-align: start !important;
  }
}