.services-2 .icon {
  line-height: 1;
  position: relative;
  width: 80px;
  height: 70px;
}

.services-2 {
  margin-bottom: 30px;
}
.pl-3, .px-3 {
  padding-left: 1rem!important;
}
.offericon{
    background: #fd5f00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.offericons{
  align-items: center;
  font-size: 30px;
  color: white;
  background-color: #f75023;
  border-radius: 50%;
}