.services-2 .icon {
  line-height: 1;
  position: relative;
  width: 100px;
  height: 80px;
}
.services-2 {
  margin-bottom: 30px;
}
.infrastructureimage{
width: 50px !important;
height: 50px !important;
}