.tm-people{
  margin-top: 3%;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none;
  align-items: center !important;
  grid-gap: 50px;
  display: block;
}
.testimonial-card{
  padding: 10px;
}
